<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
</section>

<section class="review container col-sm-6">
  <!-- Start of rows for reviews -->
  <div class="row">
    <div class="col-sm-2">
      <h3>User:</h3>
    </div>
    <div class="col-sm-8">
      <h3>Review:</h3>
    </div>
    <div class="col-sm-2">
      <h3>Rating:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% @product.reviews.each do |review| %>
      <div class="row">
        <div class="col-sm-2">
          <p><%= review.user_id %></p>
        </div>
        <div class="col-sm-7">
          <p><%= review.description %></p>
        </div>
        <div class="col-sm-2">
          <p> <%= review.rating %></p>
        </div>
        <div class="col-sm-1">
          <%= link_to fa_icon('trash'), [@product, @review], method: :destory, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- End of rows of reviews -->
<% if current_user %>

  <div class="row reviewForm">
    <h2>Create a review</h3>
    <%= form_for [@product, @review] do |f| %>
      <p><%= f.label :Review %><br/>
      <%= f.text_area :description %></p>
      <p><%= f.label :Rating %>
      <%= f.select :rating, options_for_select([1,2,3,4,5]) %></p>
      <%= f.submit %>
    <% end %>
  </div>

</section>
<section class="spacer col-sm-6">
</section>
<% else %>
<% end %>
